main{
    flex-grow: 1;
    display: flex;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: 'Mulish', sans-serif;
}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    font-weight: 400;
    line-height:4.5rem;
    color: #fff;
}

.movie-title{
    font-size: 3.1rem;
    color: var(--accent-color);
    font-weight: 200;
    font-style: italic;
}

.movie-text{
    font-weight: lighter;
    width: 600px;
    font-size: 1.1rem;
    color: #fff;
}

.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 200;
}

.social-container ul{
    height: 100%;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-container a{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.7s;
}


.social-container a:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.social-container i{
    font-size: 1.5rem;
}


@media (max-width:768px){
    .movie-text{
        display: none;
    }
    .social-container{
        display: none;
    }
    .content-container{
        gap: 40px;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 40px;
    }
    .content-container h1{
        font-size: 4rem;
        line-height: 2.5rem;
    }
    .movie-title{
        font-size: 1.5rem;
    }
}